* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 1% 4%;

  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #6163eb 0%,
    #16189d 52%,
    #0c0d75 90%
  );
}

.dashboard-title {
  text-align: center;
  font-size: 50px;
  color: white;
}

.navigation {
  display: inline-block;
  margin: 0 40px;
  font-size: 25px;
}
.search-bar {
  display: grid;
  height: 40px;
  font-size: 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.search-button {
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: lightskyblue;
  border: none;
  border-radius: 0.3rem;
}

.search-button:hover {
  background-color: thistle;
}
@media screen and (max-width: 375px) {
  .search-bar {
    width: 100%;
  }
}
